emacs.dmastodon.plstore
.build/*
*~
build.log
.cask/*
packages/
lib/magic-buffer.el
/assets/
project-config/
docs/_build
./fonts/
node_modules
.\#.*
yarn-error.log
.node-version
.shadow-cljs
.nrepl-port
nohup.out
lib/**/*.elc
*.elc
tmp/
test-runner/
.pkg/
projectile-bookmarks.eld
smex-items
elpa/
bm-repository
.fpkg-v3/
#*#
*.swp

emacs.d/
/build/

**/*/sitemap.inc
